/* App.css */
body {
  margin-top: 15%;
}
.error {
  color: red; /* Set the color to red */
  margin-top: 5px; /* Add some space between the input and the error message */
}

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form input[type="text"],
.form input[type="email"],
.form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* padding ve border'ı dahil etmek için */
}

.form select {
  appearance: none; /* tarayıcı varsayılan oku gizle */
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form button {
  display: block;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}
